<label class="txtLabel" >{{ lbl_description }}:</label>
<textarea id="descriptiontext" class ="formInputTextAuto" name="description" cols="1" rows="2" onkeyup="adjustNoteTextHeight(this)" >{{ action.description }}</textarea>
