<label class="txtLabel"  >{{ lbl_title }}:</label>
<textarea id="title" class ="formInputTextAuto" name="title" cols="1" rows="2" onkeyup="adjustNoteTextHeight(this)" autofocus required >{{ action.title }}</textarea>
