<script>
</script>

<label>setup settings</label>

<form action="{{ updatesetuproute }}" method="post"  style="width: 100%" >
<!--
    <div>website folder name: </div>        
    <div><input type="text" name="webapp" value="actions"  required></div>        
-->
    <div>real data path: </div>        
    <div><input type="text" name="datapath" value="" required ></div>        
    <div>website page title: </div>        
    <div><input type="text" name="pagetitle" value="G3 Links Actions" required ></div>        
    <div>welcome page: </div>        
    <div><input type="text" name="welcomepage" value="https://g3links.com/wp" ></div>        
<!--
    <div>core database</div>        
    <div>provider</div>        
    <div><input type="text" name="db_provider" value="sqlite" required ></div>        
    <div>dsn</div>        
    <div><input type="text" name="db_dsn" value="db/g3core.db" required ></div>        
    <div>username</div>        
    <div><input type="text" name="db_username" value="" ></div>        
    <div>password</div>        
    <div><input type="text" name="db_password" value="" ></div>        
-->
    <div>mailer</div>        
    <div>host</div>        
    <div><input type="text" name="mailer_host" value="" required ></div>        
    <div>sender</div>        
    <div><input type="text" name="mailer_sender" value="" required ></div>        
    <div>sendfrom</div>        
    <div><input type="text" name="mailer_sendfrom" value="" required ></div>        
    <div>username</div>        
    <div><input type="text" name="mailer_username" value="" required ></div>        
    <div>password</div>        
    <div><input type="text" name="mailer_password" value="" required ></div>        
    <div>smtpsecure</div>        
    <div><input type="text" name="mailer_smtpsecure" value="ssl" ></div>        
    <div>Port</div>        
    <div><input type="text" name="mailer_port" value="465" required ></div>        
    <div>testemail</div>        
    <div><input type="text" name="mailer_testemail" value="" ></div>        
    <div>emailerror</div>        
    <div>email</div>        
    <div><input type="text" name="emailerror_email" value="" required ></div>        
<!--
    <div>api</div>        
    <div>url</div>        
    <div><input type="text" name="api_url" value="api.1" ></div>        
-->
    <div>token</div>        
    <div>key</div>        
    <div><input type="text" name="token_key" value="" required ></div>        
<!--
    <div>maxrecords</div>        
    <div>actions</div>        
    <div><input type="number" step="10" name="maxrecords_actions" value="50" ></div>        
    <div>search</div>        
    <div><input type="number" step="10" name="maxrecords_search" value="50" ></div>   
    <div>products</div>        
    <div><input type="number" step="10" name="maxrecords_products" value="50" ></div>        
    <div>orders</div>        
    <div><input type="number" step="10" name="maxrecords_orders" value="50" ></div>        
    <div>sensors</div>        
    <div><input type="number" step="10" name="maxrecords_sensors" value="50" ></div>        
-->

    <input type="submit" id="submit" name="addcomment" value="submit" >
</form>
