<script>
//    $(document).ready(function () {
//        document.getElementById('next').addEventListener('click', function () {
//            window.top.location.href = '{{ nextroute }}';
//        });
//    });

</script>

<div class="pnlConfirm marginbig">
    <div class="txtXXLarge marginbig txtBlack">{{ codeerror }}</div>
    <div class="marginbig txtWhite txtLarge">{{ message }}</div>
    <!-- <div id="next" class="marginbig linkPlain">{* lbl_link }}</div> -->
</div>